@model TalukaMasterMetadata
<form method="post" id="frmtaluka" asp-area="SuperAdmin" class="row g-3 needs-validation" novalidate>
    <div class="row mt-3">
        <div class="col-md-12">

            <input type="hidden" asp-for="TalukaID" />

            <div class="row mb-3">
                <label for="" class="col-sm-4 col-form-label text-end">Country<span class="required">*</span></label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="CountryID" asp-items="@SuperCompanyDropdownBinder.Countries()">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="CountryID" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="" class="col-sm-4 col-form-label text-end">State<span class="required">*</span></label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="StateID" asp-items="@SuperCompanyDropdownBinder.State(Model.CountryID)">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="StateID" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="" class="col-sm-4 col-form-label text-end">District<span class="required">*</span></label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="DistrictID" asp-items="@SuperCompanyDropdownBinder.District(Model.StateID)">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="DistrictID" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="roleName" class="col-sm-4 col-form-label text-end">Taluka Name<span class="required">*</span></label>
                <div class="col-sm-8">
                    <input type="text" required="" class="form-control" asp-for="TalukaName" maxlength="100">
                    <span asp-validation-for="TalukaName" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer-sticky">
                <button class="btn btn-primary btn-info px-5 ladda-button" id="btnSave" type="button" onclick="fnSubmit()">
                    Save
                </button>
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-primary btn-info px-5">Cancel</button>
            </div>
        </div>
    </div>
</form>



<script type="text/javascript">
    function fnSubmit() {
        if ($("#frmtaluka").valid()) {
            var l = laddaStart('btnSave');
            modeldata = $("#frmtaluka").serialize();
            $.ajax({
                type: 'POST',
                url: '../SuperAdmin/Taluka/Save',
                data: modeldata,
                dataType: 'json',
                beforeSend: function () { },
                success: function (data) {
                    console.log(data.status);
                    if (data.status) {
                        //notification
                        $("#canvas_taluka").hide();//('hide');
                        Lobibox.notify('success', {
                            pauseDelayOnHover: true,
                            size: 'mini',
                            icon: 'bx bx-check-circle',
                            continueDelayOnInactiveTab: false,
                            position: 'bottom right',
                            msg: data.message
                        });
                    }
                    else {
                        Lobibox.notify('error', {
                            pauseDelayOnHover: true,
                            size: 'mini',
                            icon: 'bx bx-check-circle',
                            continueDelayOnInactiveTab: false,
                            position: 'bottom right',
                            msg: data.message
                        });
                    }
                },
                error: function (error) {
                    laddaStop(l);
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        size: 'mini',
                        icon: 'bx bx-check-circle',
                        continueDelayOnInactiveTab: false,
                        position: 'bottom right',
                        msg: "@MessageHelper.Error"
                    });
                }
            }).always(function () {
                hideLoader();
            });
        }
    };
    var urlstate = '@Url.Action("GetState", "Base")';
    var urldistrict = '@Url.Action("GetDistrict", "Base")';
    $(document).ready(function () {
        $("#CountryID").change(function () {
            $("#StateID").empty();
            $("#DistrictID").empty();
            $.ajax({
                type: 'POST',
                url: urlstate,
                dataType: 'json',
                data: { countryId: $("#CountryID").val() },
                success: function (response) {
                    $("#StateID").append('<option value>--Select--</option>');
                    $("#DistrictID").append('<option value>--Select--</option>');
                    if (response.status) {
                        //console.log(response.data);
                        $.each(response.data, function (i, state) {
                            $("#StateID").append('<option value="'
                                + state.value + '">'
                                + state.text + '</option>');
                        });
                    }

                },
                error: function (ex) {
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        size: 'mini',
                        icon: 'bx bx-check-circle',
                        continueDelayOnInactiveTab: false,
                        position: 'bottom right',
                        msg: "@MessageHelper.Error"
                    });
                }
            });
            return false;
        })
        $("#StateID").change(function () {
            $("#DistrictID").empty();
            $.ajax({
                type: 'POST',
                url: urldistrict,
                dataType: 'json',
                data: { stateId: $("#StateID").val() },
                success: function (response) {
                    $("#DistrictID").append('<option value>--Select--</option>');
                    if (response.status) {
                        console.log(response.data);
                        $.each(response.data, function (i, district) {
                            $("#DistrictID").append('<option value="'
                                + district.value + '">'
                                + district.text + '</option>');
                        });
                    }
                    
                },
                error: function (ex) {
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        size: 'mini',
                        icon: 'bx bx-check-circle',
                        continueDelayOnInactiveTab: false,
                        position: 'bottom right',
                        msg: "@MessageHelper.Error"
                    });
                }
            });
            return false;
        })
    });
    
</script>

@await Html.PartialAsync("_ValidationScriptsPartial")