@model CompanyAddressTxnMetadata
@*asp-action="SaveContact" asp-controller="Company" asp-area="SuperAdmin"
*@<form method="post" id="frmaddcompnayaddress" class="row g-3 needs-validation" novalidate enctype="multipart/form-data">
    <div class="row mt-3">
        <input type="hidden" asp-for="CompanyID" />
        <input type="hidden" asp-for="CompanyAddressTxnID" />
        <input type="hidden" asp-for="ZIPCodeID" />
        <div class="col-md-12">
            <div class="row mb-3">
                <label for="" class="col-sm-4 col-form-label text-end">Address Type<span class="required">*</span></label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="AddressTypeID" asp-items="@SuperCompanyDropdownBinder.AddressType()">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="AddressTypeID" class="text-danger"></span>
                </div>
            </div>
            <div class="row  mb-3">
                <label for="" class="col-sm-4 col-form-label text-end">Plot  No./Name<span class="required">*</span></label>
                <div class="col-sm-8">
                    <input type="text" required="" class="form-control" asp-for="Address1" placeholder="" maxlength="200">
                    <span asp-validation-for="Address1" class="text-danger"></span>
                </div>
            </div>
            <div class="row  mb-3">
                <label for="" class="col-sm-4 col-form-label text-end">Street No./Name</label>
                <div class="col-sm-8">
                    <input type="text" required="" class="form-control" asp-for="Address2" placeholder="" maxlength="200">
                    <span asp-validation-for="Address2" class="text-danger"></span>
                </div>
            </div>
            <div class="row  mb-3">
                <label for="" class="col-sm-4 col-form-label text-end">Landmark</label>
                <div class="col-sm-8">
                    <input type="text"  class="form-control" asp-for="Address3" placeholder="" maxlength="200">
                    <span asp-validation-for="Address3" class="text-danger"></span>
                </div>
            </div>
            <div class="row  mb-3">
                <label for="" class="col-sm-4 col-form-label text-end">Area</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" asp-for="Area" placeholder="" maxlength="150">
                    <span asp-validation-for="Area" class="text-danger"></span>
                </div>
            </div>
            <div class="row  mb-3">
                <label for="" class="col-sm-4 col-form-label text-end">Pincode</label>
                <div class="col-sm-8 autoerp">

                  

                    <input type="text" required="" class="form-control bs-autocomplete" asp-for="ZIPCode" placeholder="" maxlength="15" autocomplete="off">
                    <span asp-validation-for="ZIPCode" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="" class="col-sm-4 col-form-label text-end">City</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="CityID" asp-items="@SuperCompanyDropdownBinder.City(Model.StateID)">
                        <option value="">--Select--</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="" class="col-sm-4 col-form-label text-end">Taluka<span class="required">*</span></label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="TalukaID" asp-items="@SuperCompanyDropdownBinder.Taluka(Model.DistrictID)">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="TalukaID" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="" class="col-sm-4 col-form-label text-end">District<span class="required">*</span></label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="DistrictID" asp-items="@SuperCompanyDropdownBinder.District(Model.StateID)">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="DistrictID" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="" class="col-sm-4 col-form-label text-end">State<span class="required">*</span></label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="StateID" asp-items="@SuperCompanyDropdownBinder.State(Model.CountryID)">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="StateID" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="" class="col-sm-4 col-form-label text-end">Country<span class="required">*</span></label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="CountryID" asp-items="@SuperCompanyDropdownBinder.Countries()">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="CountryID" class="text-danger"></span>
                </div>
            </div>

            <div class="row  mb-3">
                <label for="" class="col-sm-4 col-form-label text-end">Is Active</label>
                <div class="col-sm-8">
                    <input type="checkbox" class="form-check-input" asp-for="IsActive">

                </div>
            </div>

            <div class="modal-footer-sticky">
                <button id="btnSave" type="button" onclick="fnSubmitAddress()" class="btn btn-primary btn-info px-5 ladda-button">Save</button>
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-primary btn-info px-5">Cancel</button>
            </div>
        </div>

    </div>
</form>
<link href="~/admin/assets/vendors/typehead/jquery.typeahead.min.css" rel="stylesheet" />
<script src="~/admin/assets/vendors/typehead/jquery.typeahead.min.js"></script>
@await Html.PartialAsync("_ValidationScriptsPartial")
<script type="text/javascript">
    var urlSaveAddress = '@Url.Action("SaveAddress", "CompanySetting")';
    function fnSubmitAddress() {
       // alert($("#frmaddcompnayaddress").valid());
        if ($("#frmaddcompnayaddress").valid()) {
            var ls = laddaStart('btnSave');
            modeldata = $("#frmaddcompnayaddress").serialize();
            $.ajax({
                type: 'POST',
                url: urlSaveAddress,
                data: modeldata,
                dataType: 'json',
                beforeSend: function () { },
                success: function (data) {
                    console.log(data.status);
                    if (data.status) {
                        //notification
                        $("#canvas_address").hide();//('hide');
                        Lobibox.notify('success', {
                            pauseDelayOnHover: true,
                            size: 'mini',
                            icon: 'bx bx-check-circle',
                            continueDelayOnInactiveTab: false,
                            position: 'bottom right',
                            msg: data.message
                        });
                    }
                    else {
                        laddaStop(ls);
                        Lobibox.notify('error', {
                            pauseDelayOnHover: true,
                            size: 'mini',
                            icon: 'bx bx-check-circle',
                            continueDelayOnInactiveTab: false,
                            position: 'bottom right',
                            msg: '@MessageHelper.Error'
                        });
                    }
                },
                error: function (error) {
                    laddaStop(ls);
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        size: 'mini',
                        icon: 'bx bx-check-circle',
                        continueDelayOnInactiveTab: false,
                        position: 'bottom right',
                        msg: '@MessageHelper.Error'
                    });
                }
            }).always(function () {
                hideloader();
            });
        }
    };

    var urlstate = '@Url.Action("GetState", "Base")';
    var urldistrict = '@Url.Action("GetDistrict", "Base")';
    var urltaluka = '@Url.Action("GetTaluka", "Base")';
    var urlcity = '@Url.Action("GetCity", "Base")';
    $(document).ready(function () {
        $("#CountryID").change(function () {
            $("#StateID").empty();
            $("#DistrictID").empty();
            $("#CityID").empty();
            $("#TalukaID").empty();
            $.ajax({
                type: 'POST',
                url: urlstate,
                dataType: 'json',
                data: { countryId: $("#CountryID").val() },
                success: function (response) {
                    $("#StateID").append('<option value>--Select--</option>');
                    $("#DistrictID").append('<option value>--Select--</option>');
                    $("#CityID").append('<option value>--Select--</option>');
                    $("#TalukaID").append('<option value>--Select--</option>');
                    if (response.status) {
                        //console.log(response.data);
                        $.each(response.data, function (i, state) {
                            $("#StateID").append('<option value="'
                                + state.value + '">'
                                + state.text + '</option>');
                        });
                    }
                },
                error: function (ex) {
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        size: 'mini',
                        icon: 'bx bx-check-circle',
                        continueDelayOnInactiveTab: false,
                        position: 'bottom right',
                        msg: "@MessageHelper.Error"
                    });
                }
            });
            return false;
        })

        $("#StateID").change(function () {
            $("#DistrictID").empty();
            $.ajax({
                type: 'POST',
                url: urldistrict,
                dataType: 'json',
                data: { stateId: $("#StateID").val() },
                success: function (response) {
                    $("#DistrictID").append('<option value>--Select--</option>');
                    if (response.status) {
                        //console.log(response.data);
                        $.each(response.data, function (i, district) {
                            $("#DistrictID").append('<option value="'
                                + district.value + '">'
                                + district.text + '</option>');
                        });
                    }
                },
                error: function (ex) {
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        size: 'mini',
                        icon: 'bx bx-check-circle',
                        continueDelayOnInactiveTab: false,
                        position: 'bottom right',
                        msg: "@MessageHelper.Error"
                    });
                }
            });

            $("#CityID").empty();
            $.ajax({
                type: 'POST',
                url: urlcity,
                dataType: 'json',
                data: { stateId: $("#StateID").val() },
                success: function (response) {
                    $("#CityID").append('<option value>--Select--</option>');
                    if (response.status) {
                        //console.log(response.data);
                        $.each(response.data, function (i, city) {
                            $("#CityID").append('<option value="'
                                + city.value + '">'
                                + city.text + '</option>');
                        });
                    }
                },
                error: function (ex) {
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        size: 'mini',
                        icon: 'bx bx-check-circle',
                        continueDelayOnInactiveTab: false,
                        position: 'bottom right',
                        msg: "@MessageHelper.Error"
                    });
                }
            });
            return false;
        })

        $("#DistrictID").change(function () {
            $("#TalukaID").empty();
            $.ajax({
                type: 'POST',
                url: urltaluka,
                dataType: 'json',
                data: { districtID: $("#DistrictID").val() },
                success: function (response) {
                    $("#TalukaID").append('<option value>--Select--</option>');
                    if (response.status) {
                        //console.log(response.data);
                        $.each(response.data, function (i, taluka) {
                            $("#TalukaID").append('<option value="'
                                + taluka.value + '">'
                                + taluka.text + '</option>');
                        });
                    }
                },
                error: function (ex) {
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        size: 'mini',
                        icon: 'bx bx-check-circle',
                        continueDelayOnInactiveTab: false,
                        position: 'bottom right',
                        msg: "@MessageHelper.Error"
                    });
                }
            });
            return false;
        })
    });
</script>

<script type="text/javascript">
    $(function () {
        'use strict';
        var map = {};
        $(".bs-autocomplete").typeahead({
            minLength: 3,
            maxItem: 15,
            order: "asc",
            hint: true,
            searchOnFocus: true,
            source: function (request, response) {
                console.log('request',request);
                $.ajax({
                    url: '@Url.Action("GetZipcode","Base")',
                    data: { 'q': request},
                    dataType: "json",
                    //type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                       var items = [];
                       map = {};
                        $.each(data, function (i, item) {
                            //console.log(i, item);
                            var id = item.zipCodeID;
                            var name = item.zipCode;
                            var baddress = item.baseAddress;
                            var cityID = item.cityID;
                            var stateID = item.stateID;
                            var talukaID = item.talukaID;
                            var districtID = item.districtID;
                            var countryID = item.countryID;
                            map[name] = {
                                id: id
                                , name: name
                                , address: baddress
                                , zcode: name
                                , cityid:cityID
                                , stateid: stateID
                                , talukaid: talukaID
                                , districtid: districtID
                                , countryid: countryID
                            };
                            items.push(name);
                        });
                        response(items);
                        $(".dropdown-menu").css("height", "auto");
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    }
                });
            },
            displayText: function (item) {
                //console.log('display', map[item].address);
                //return map[item].address
                return map[item].address;
            },
            afterSelect: function (item) {
                //console.log('display', item);
                $("#ZIPCode").val(item)
            },
            updater: function (item) {
                $('#ZIPCodeID').val(map[item].id);
                $('#CityID').val(map[item].cityid);
                $('#TalukaID').val(map[item].talukaid);
                $('#DistrictID').val(map[item].districtid);
                $('#StateID').val(map[item].stateid);
                $('#CountryID').val(map[item].countryid);
                $("#ZIPCode").val(map[item].zcode);
                //console.log('updater', map[item].zcode);
                return item;
            }
        });
    });
</script>
